@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

body::before {
    content: "";
    background: url('https://pbs.twimg.com/media/FVaKHEFVUAIn6K0?format=jpg&name=large') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    filter: blur(5px);
}

.lyrics {
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: 42vw;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    -webkit-text-stroke: 1px #00aff7;
    color: #a8edff;
    text-shadow:
        3px 3px 0 #00aff7,
        -1px -1px 0 #00aff7,
        1px -1px 0 #00aff7,
        -1px 1px 0 #00aff7,
        1px 1px 0 #00aff7;
    letter-spacing: 0.5px;
}

.author {
    position: absolute;
    bottom: 50%;
    right: 0%;
    transform: rotate(90deg);
    font-size: small;
}

/* Book */
.book {
    width: 350px;
    height: 500px;
    position: relative;
    transition: transform 0.5s;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front {
    backface-visibility: hidden;
    border-left: 3px solid rgba(85, 230, 245, 0.3);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
}

#b1 {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-around;
}

#b1 h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#b1 p {
    margin-bottom: 20px;
}

#f1 h1 {
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 1px #00aff7;
    color: #a8edff;
}